/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}
.flex-j-around{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1050px;
    /* width: 65 */
    margin: 0 auto;
}


/* Columns */
.columns{
    padding: 3rem 0;
}

.column{
    height: 400px;
}

.column-big{
    width: 60%;
}

.column-small{
    padding: 30px 0px ;
    width: 40%;
}

.column-single{
    width: 100%;
    height: 800px;
}

.column-70{
    width: 70%;
    height: 500px;
}

.column-30{
    font-size: 2rem;
    color: white;
    height: 500px;
    width: 30%;
}

.column-quarters{
    color: white;
    width: calc(100% / 4);
    line-height: 3rem;
}


/* Header */
header{
    /* background-color: #4161df; */
    padding: 0 0 .25rem;
}

section.navigation{
    padding: .8rem 0;
}


header section.navigation > div{
    /* height: 40px; */
    background-color: #4161df;
}

header section.navigation div.brand,
header section.navigation nav,
header section.navigation div.login{
    padding: .9rem;
    position: relative;
}
section.navigation div.login > div{
    position: absolute;
    color: black;
    border-radius: 20px;
    background-color: white;
    width: 30%;
    right:0 ;
    text-align: center;
}


section.navigation div.brand,
section.navigation div.login{
    width: 20%;
}

section.navigation  nav{
    width: 60%;
}

section.navigation  nav ul{
    list-style-type: none;
}

section.navigation  nav ul li{
    /* display: inline-block; */
    padding: 0 1rem;
}



/* Jumbo */

.jumbo-container{
    max-width: 500px;
    /* width: 50% */
    margin: 0 auto;
    height: 475px;
    text-align: center;
}

#jumbo{
    
    background-image: url("../img/jumbo.png");
    padding: 3rem 0;
    background-position: center;
    background-size: cover;
    
}

.jumbotron > h1 {
    padding-bottom: 2rem ;
    font-size: 3rem;
}


/* Section 01 */

#testo-sezion01{
    padding-top: 2rem;
    padding-left: 6rem;
}
/* Section 02 */

#testo-sezion02{
    padding-left: 4rem;
}

/* Section 04 */

#testo-sezion04{
    text-align: center;
}

.bg-image{
    background-image: url(../img/stars.svg);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 auto 2rem;
    width: 50%;
    padding-top: 2rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

.button-ble {
    color: white;
    background-color: #92a1e1;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}
.button-white {
    color: black;
    background-color: white;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}
.button-sign {
    color: black;
    background-color: white;
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
}
.open-browser{
    color: white;
    background-color:#1f1f3c;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}

/* Footer */
footer{
    background-color: #23272a;
}

div.footer-divider{
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

section.links{
    padding-top: .5rem;
}

div.button{
    height: 2rem;
    padding: .25rem .5rem;
}

img.icon-flag {
    height: 1rem;
    width: auto;
}

/*Text Colors */

.txt-white{
    color: white;

}

.txt-blu{
    color: #4161df;
}

/* Font Size */
.txt-larger{
    font-size: larger;
}
.txt-small{
    font-size: 1rem;
}

/* Background Colors  */
.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #d2d2d2;
}

.dotted-test{
    border: 2px dashed black;
}